@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.banner{
    margin-top:0;
    padding-top: 0;
    height: 100vh;  
    padding: 0 1rem;
}

img {
    padding-top:7rem;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

.title {
    margin-top: 2rem;
    font-size: 70px;
    color: #fff;
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    color:#000;
}

p {
    text-align: center;
    color: #000;
    font-size: 25px;
    width: 100%;
    font-family: 'Nunito', sans-serif;
}

.center {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    color: #fff;
}

button {
    margin-top: 5rem;
    background-color: rgb(247, 94, 23);
    padding: 1.5rem 3rem;
    width: 150px;
    border: none;
    color: #fff;
    border-radius: 0.5rem;
    text-decoration: none;
    cursor: pointer;
    width: 200px;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

a {
    color: #fff;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;

}


@media only screen and (max-width: 768px) {
    .title {
    margin-top: 2rem;
    font-size: 30px;
    color: #000;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
}

p {
    text-align: center;
    color: #000;
    font-size: 15px;
}

button {
    margin-top: 5rem;
    background-color: rgb(247, 94, 23);
    padding: 0.5rem 1rem;
    border: none;
    color: #fff;
    border-radius: 0.2rem;
    text-decoration: none;
    cursor: pointer;
    width: 150px;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

}